@model GenericAppDLL.Models.ViewModels.LinkAddressViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>



<div class="row">
    <div class="col-md-4">
        <form asp-action="LinkAddress" asp-controller="Address" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

            <div class="form-group">
                <label asp-for="People" class="control-label"></label>
                <select asp-for="UserGuid" class="custom-select mt-2"
                        asp-items="@Model.People">
                    <option disable hidden>Any</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Addresses" class="control-label"></label>
                <select asp-for="AddressGuid" class="custom-select mt-2"
                        asp-items="Model.Addresses">
                    <option disable hidden>Any</option>
                </select>
            </div>

            </div>


            <div class="form-group">
                <input type="submit" value="Link" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

