@model GenericAppDLL.Models.ViewModels.CreatePostViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>

<form asp-action="Create" enctype="multipart/form-data" method="post" asp-controller="Post">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Caption" class="control-label"></label>
            <input asp-for="Caption" class="form-control" />
            <span asp-validation-for="Caption" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="paper" style="height:144px;">
                <div class="paper-content">
                    <label asp-for="Message" class="form-label">Message</label>
                    <textarea style="height:20em;" asp-for="Message" id="BodyTextArea" class=""></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img src="/ProfileImages/DefaultImage.jpg" style="max-height:20em;max-width:20em;"></img>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex">
            <input asp-for="Attatchment" style="width:7em" class="form-control" />
            <button type="submit" title="Save" class="btn btn-success">Save</button>
            <button type="button" title="Cancel" class="btn btn-danger">Cancel</button>

        </div>

    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
