@model GenericAppDLL.Models.ViewModels.ViewListPostViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>

<div class="overflow-auto" style="max-height:60em;">
@foreach (var item in Model.posts) {
    @Html.Partial("_Post",item);

    <partial name="_Post" model="item"></partial>
}
</div>
