@model GenericAppDLL.Models.ViewModels.ViewListProfilesViewModel

<a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="CreateProfile">Create </a>

    @foreach (var customer in Model.profiles)
    {
    @* @Html.Partial("_Profile",customer);
*@
    
            <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            @*<partial name="_ProfileCard" model="customer.profileDetails"></partial>*@
            <partial name="_ProfileSlim" model="customer.profileDetails"></partial>
        </div>
        <div class="col-md-3">
        </div>
        </div>
    }

