@model GenericAppDLL.Models.ViewModels.ViewFriendRequestsViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>

<div class="row">

    <div class="col-2 d-none d-sm-block">
    </div>
    <div class="col-md-8 col-sm-12">

        @foreach (var item in Model.users)
        {
            <partial name="_FriendRequest" model="item" />
        }

    </div>
    <div class="col-2 d-none d-sm-block">
    </div>
</div>