@model GenericAppDLL.Models.ViewModels.SideAdvertViewModel


<div class="card" style="width: fit-content;">
    <a href="google.com"><img name="" style="width:50em;height:50em;" class="card-img-top" src="~/@Model.ImagePath01" alt=""></a>
    <div class="card-body" style="width:15em;">
        <h5 class="card-title" style="inline-size: max-content;">@Model.Caption</h5>
        <p class="card-text"> @Model.Description</p>
    </div>
</div>
<br />