@model GenericAppDLL.Models.ViewModels.ChatHeaderViewModel

<div class="card ChatHeader">
    <div class="card-body">
        <h5 class="card-title">@Model.RecieverName</h5>
    </div>
    <div class="row">
        <input value="@Model.ChatId" hidden>
        <img src="~/ProfileImage.png" />
        <h5>@Model.RecieverName</h5>
    </div>
</div>

<script type="text/javascript">
    $(".ChatHeader").click(function () {
        id = $(this).children('div').children('input').val()
        console.log("Enter Chat", id);
        window.location.href = "https://localhost:7140/Chat/SendDirectMessage?id=" + id;

    });
</script>