@model GenericAppDLL.Models.ViewModels.ChatHeaderViewModel

<div class="card">
    <div class="row">
        <img src="/HOLPT1.jpg5ed12b0b-6a54-45f4-901d-7b72e45b8c94.jpg"/>
        <h5>@Model.RecieverName</h5>
    </div>
</div>