@model GenericAppDLL.Models.ViewModels.PointsViewModel
<div class=" card card-text">

        <div class="pe-2">
        <div class="d-flex d-inline-block p-2 px-3 m-1">
            <div class="">
                @Model.Description
            </div>
            <strong class="px-3">
                @Model.Amount
            </strong>            
            </div>
            <small class="">
                @Model.CreatedDateTime
            </small>
        </div>
</div>
<br />
