@model GenericAppDLL.Models.ViewModels.PostViewModel

<div class="card" @*style="width: 18rem;"*@>
    @if (!Model.postHeader.IsProfileView)
    {
    <partial name="_PostHeader" model="@Model.postHeader"></partial>        
    }
    <img class="card-img-top" src="~/@Model.AttatchmentPath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Caption</h5>
        <p class="card-text">@Model.Message </p>
        <partial name="_PostInteractions" model="@Model.postFooter"></partial>
    </div>
</div>
<br/>
