@model GenericAppDLL.Models.ViewModels.SettingsImplementationViewModel

<div class="Theme-Selected">
    <input id="Theme-Selected" value="@Model.SelectedTheme" hidden></input>
    <input id="Settings-Notification-Num" value="@Model.NumNotifcations" hidden></input>
</div>