
<div class="card side-advert" @*style="width: 18rem;"*@>
    <img name="" style="width:15em;height:15em;" class="card-img-top" src="" alt="">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"> </p>
    </div>
</div>