
<div hidden class="card side-advert" @*style="width: 18rem;"*@>
    <a href="test.com"><img name="" style="width:15em;height:15em;" class="card-img-top" src="" alt=""></a>
    <div class="card-body" style="width:15em;">
        <h5 class="card-title"></h5>
        <p class="card-text"> </p>
    </div>
</div>