html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.chat-chat {
min-height:500px;

}

.chat-other-header-name {
    margin-left: 2em;
}

.Card-Header {
    margin-bottom: -15px;
}