@model GenericAppDLL.Models.ViewModels.ViewListJournalViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>                                    
<a class="btn btn-primary text-dark" asp-area="" asp-controller="Journal" asp-action="Create"><i class="fas fa-comments"></i>Journals </a>
@foreach(var journal in Model.journals){         
        <div class="row">
       <div class="col-2">
        </div>
        <div class="col-8">
        <partial name="_Journal" style="margin:auto" model="journal"></partial>
        </div>
        <div class="col-2">
        </div>
    </div>

}