@model GenericAppDLL.Models.ViewModels.ViewListJournalViewModel
<partial name="_SettingsImplementation" model="@Model.settings"></partial>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <a class="btn btn-primary text-dark main-add-button" asp-area="" asp-controller="Journal" asp-action="Create"><i class="fas fa-paper-plane"></i> New </a>
    </div>
    <div class="col-2">
    </div>
</div>

@foreach(var journal in Model.journals){         
        <div class="row">
        <div class="col-2 d-none d-sm-block">
        </div>
        <div class="col-8 col-sm-12">
        <partial name="_Journal" style="margin:auto" model="journal"></partial>
        </div>
        <div class="col-2 d-none d-sm-block">
        </div>
    </div>

}