@model GenericAppDLL.Models.ViewModels.ViewListBookingViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>


@{
    ViewData["Title"] = "ViewListBookings";
}


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bookings)
        {
            <tr class="row">
                <td class="col-3">
                </td>
                <td class="col-6">
                    @Html.Partial("_ViewBooking", item)
                </td>
                <td class="col-3">
                </td>
            </tr>
        }
    </tbody>
</table>
