@model GenericAppDLL.Models.ViewModels.BaseViewModel
<partial name="_SettingsImplementation" model="@Model.settings"></partial>

<a class="btn btn-primary text-dark" asp-area="" asp-controller="Advertisment" asp-action="Create"><i class="fas fa-pen"></i></a>