@model GenericAppDLL.Models.ViewModels.HubViewModel
<partial name="_SettingsImplementation" model="@Model.settings"></partial>


<div class="row">

<div class="col-2">

</div>
<div class="col-8">
        <a class="btn btn-primary text-dark main-add-button" asp-area="" asp-controller="Advertisment" asp-action="Create"><i class="fas fa-pen"></i></a>

        @foreach (var advert in Model.adverts)
        {
            <partial name="_advertisment" model="@advert"></partial>
        }
</div>
<div class="col-2">

</div>
</div>
