@model GenericAppDLL.Models.ViewModels.PurchaseItemViewModel

<div class="d-flex">

<div class="card card-text" style="border-right:none;padding-right:2em;">
    <div class="row">
    <div class="col-4">
    <img class="card-img" src="/@Model.ItemImage" alt="Card image cap">
    </div>
    <div class="col-8">
    <div class="float-end">
        <h6> Item : @Model.ItemName</h6>
                    <h6> Cost @Model.Cost Qty : <input asp-for="@Model.Amount" style="max-width:5em;" type="number" />  </h6>
        <h5> Total @Model.Total</h5>
        <span>
        <button data-toggle="modal" data-target="#Modal" class="btn btn-primary AddItemToCart">Edit</button>
        </span>
    </div>
    </div>
    </div>
</div>

</div>
<br />
