@model GenericAppDLL.Models.ViewModels.ShopDashboardViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>


<table class="table table-borderless">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in Model.AllVendors)
        {

            <tr class="row">
                <td class="col-2">
                </td>
                <td class="col-8">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th> <h3>@vendor.VendorName</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row flex-row flex-nowrap">
                            @foreach (var item in vendor.AllVendorItems)
                            {
                                    <td class="col">
                                        @Html.Partial("_MenuItem", item)
                                    </td>
                            }
                                </tr>
                        </tbody>
                    </table>
                </td>
                <td class="col-2">
                </td>
            </tr>
        }
    </tbody>
</table>