@model GenericAppDLL.Models.ViewModels.ShopDashboardViewModel

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in Model.AllVendors)
        {
            <tr class="row">
                <td class="col-3">
                </td>
                <td class="col-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in vendor.AllVendorItems)
                            {
                                <tr class="row">
                                    <td class="col-3">
                                    </td>
                                    <td class="col-6">
                                        @Html.Partial("_MenuItem", item)
                                    </td>
                                    <td class="col-3">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td class="col-3">
                </td>
            </tr>
        }
    </tbody>
</table>