@model GenericAppDLL.Models.ViewModels.NotificationViewModel

<div class="d-flex">

    <div class="card card-text" style="width:27em;">
        <div class="row">
            <div class="col-4">
                <img class="card-img" src="~/ProfileImages/ProfileImage.png" alt="~/profileimage.png">
            </div>
            <div class="col-8">
                <div class="">
                    <div class="">
                        <h3 class="Card-Header"> @Model.Heading</h3><br />
                        <small>@Model.Description  </small><br />
                        <small>@Model.DateTime  </small><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>